@font-face {
  font-family: "Roboto Condensed_Bold";
  src:url(../fonts/RobotoCondensed-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Condensed";
  src:url(../fonts/RobotoCondensed-Light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src:url(../fonts/OpenSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src:url(../fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src:url(../fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src:url(../fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
    font-family: 'Aleo';
    src: url('../fonts/aleo-light-webfont.woff2') format('woff2'),
         url('../fonts/aleo-light-webfont.woff') format('woff');
    src:url(../fonts/aleo-light-webfont.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;

}
font-face {
    font-family: 'Aleo';
    src: url('../fonts/aleo-bold-webfont.woff2') format('woff2'),
         url('../fonts/aleo-bold-webfont.woff') format('woff');
    src:url(../fonts/aleo-bold-webfont.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;

}